<!-- <nav>

  <div class="container">
    <ul>

      <li>
        <img src="https://pbs.twimg.com/profile_images/986327929453006848/c5ShdmQS_400x400.jpg">
        <br /><a>Options</a>
      </li>
      <li>
        <p class="profile-p">
          1222<br />Likes
        </p>
      </li>
      <li>
        <p class="profile-p">
          173<br />Followers
        </p>
      </li>
      <li>
        <p class="profile-p">
          44<br />Rating
        </p>
      </li>
    </ul>

  </div>

</nav> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" align="center">
          <div class="outer">
            <img alt="user-profile-image" src="https://pbs.twimg.com/profile_images/986327929453006848/c5ShdmQS_400x400.jpg" />
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">Likes</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Followers</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Rating</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>