<!-- <a (click)="backClicked()">
  <i class="material-icons">
    clear
  </i>
</a>
<h1>Add Tracks</h1>
<input type="text">
<h3>tracks</h3>
<h3></h3> -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" align="center">
          <form>
            <h1> Add Tracks </h1>
            <input type="text">
          </form>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>