.img-landing {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    
}
.breadcrumb{
    background-color: white;
    text-align: center;
}

.max-width-1024 { 
  max-width: 102px; margin: 30 auto; 
  background-color: blanchedalmond;
}

#soundboard-button{
    background-color: rgb(0, 0, 0, 0.10);
    padding: 1em;
    margin: 1em;
}

/* styles for ticker  */
.example1 {
    height: 50px;	
    overflow: hidden;
    position: relative;
    background-color: #292b2c;
    color: aliceblue;
}
.example1 h3 {
    font-size: 3em;
    background-color: #292b2c;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(100%);
    -webkit-transform:translateX(100%);	
    transform:translateX(100%);
    /* Apply animation to this element */	
    -moz-animation: example1 15s linear infinite;
    -webkit-animation: example1 15s linear infinite;
    animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
    0%   { -moz-transform: translateX(100%); }
    100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
    0%   { -webkit-transform: translateX(100%); }
    100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
    0%   { 
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%); 		
    }
    100% { 
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%); 
    }
}

img {
  height: 410px;
  object-fit: cover;
  border-radius: 20px;
}


.material-icons.lg-20 { 
    font-size: 130px; 
    background: #007291;
}

.material-icons:active {
    background: #FBDE03;
}

.icon-size {
    font-size:60px;
}

.shoppingBadge-custom{
    background: #FA9D04;
    position:absolute;
    left:47px; /** you can make changes here to change position **/
    top:18px;
    font-size:14px;
    z-index: 3;
}

.tokBadge-custom{
    background:#FA9D04;
    position:absolute;
    left:54px; /** you can make changes here to change position **/
    top:35px;
    font-size:14px;
    /* z-index: 3; */
}

.palette{
    background: #FEF596;
    background: #FBDE03;
    background: #FA9D04;
    background: #E7450D;
    background: #3F362A;
    background: #007291;
}

.sample-pad{
    position: relative;
    /* display: none; */
    /* background: #292b2c; */
    width: auto;
    /* display: block; */
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    height: 130px;
}

.board-header {
    background: #292b2c;
    color: #FA9D04;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}