.img-landing {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}
.breadcrumb{
    background-color: white;
    text-align: center;
}

.album-block{
    background-color: black;
    width: auto;
    display: block;
}

#soundboard-button{
    background-color: rgb(0, 0, 0, 0.10);
    padding: 1em;
    margin: 1em;
}