<div class="album-block">
  <img src="https://images-na.ssl-images-amazon.com/images/I/51ik%2BwjSdwL._SS500.jpg" class="img-landing" height="350">
</div>
<br>
<br>
<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Like</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Follow</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Rate</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Suggest Tracks</a>
    </li>
  </ol>
</nav>
<br>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h3 class="text-center">
        h3. Lorem ipsum dolor sit amet.
      </h3>
    </div>
    <div class="col-md-2">
    </div>

  </div>
  <div>
    <button *ngFor="let playlist of playlists"  type="button"  class="btn btn-outline-secondary btn-lg btn-block">
      {{playlist.name}}
    </button>
  </div>
  <div class="row">
    <div class="col-md-4">

      <button type="button" id="soundboard-button" class="btn btn-block btn-outline-secondary btn-lg" *ngFor="let item of soundBoardMediaInformation">
        {{item.name}}
        Hello
      </button>
    </div>

    <div class="col-md-4">

      <button *ngFor="let sound of sounds" (click)='onClick($event)' type="button" [attr.id]="sound.mediaLink" class="btn btn-outline-secondary btn-lg btn-block">
        {{sound.name}}
      </button>
      <!-- <button (click)='onClick($event)' type="button" id={{items.items[1].mediaLink}} class="btn btn-outline-secondary btn-lg btn-block">
        {{items.items[1].name}}
      </button> -->
     
     
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      
      <button type="button" class="btn btn-lg btn-danger center-block">
        Live
      </button>
    </div>
    <div class="col-md-2">
    </div>
  </div>
</div>