
<div class="album-block">
  <img src={{this.image}} class="img-landing img-fluid">
  <div class="example1">
      <h3>{{playlist.name}}</h3>
      </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!-- make this toggleable -->
      <button class="btn btn-outline-info btn-lg btn-block" (click)='showCasts()'>
      Select Cast
      </button>
      <ul class="list-group" *ngIf="viewedCast">
        <li class="list-group-item justify-content-between align-items-center">
          <button *ngFor="let playlist of playlists" [attr.id]="playlist.id" (click)='playlistClick($event)' type="button" class="btn btn-outline-info btn-lg btn-block">
            {{playlist.name}}
          </button>
        </li>
      </ul>
      <br>
    <!-- this is the create soundcast button it will let you make a playlist then choose songs for it -->
      <div id="createPlaylist">
        <button class="btn btn-outline-info btn-lg btn-block" type="button" id="createCast" (click)='openNewCastComponent()'>
        Create Soundcast
      </button>
      <!-- this is the if block that lets you name your cast -->
      <div *ngIf="madeNew" class="input-group input-group-lg">
      <div *ngIf="wasNamed === false" class="input-group-prepend">
        <button class="input-group-text" type="button" id="inputGroup-sizing-lg" (click)='submitCastName(text)'>Name Cast</button>
        <input type="text" class="form-control" aria-label="Large" aria-descrybedby="inputGroup-sizing-sm" [(ngModel)]="text" id="input-field" placeholder="Name your soundcast." />
      </div>
      <div *ngIf="wasNamed">
      <button type="button" id="searchSongToCast" (click)='searchSongToCast(search)'>Search Songs</button>
      <input type="text" [(ngModel)]="search" id="input-field" placeholder="Name your soundcast." />
      <div *ngIf="songSelected === false">
        <button *ngFor="let result of searchResults" [attr.id]="result.id" (click)='songSelect($event)' type="button" class="btn btn-outline-secondary btn-lg btn-block">
          {{result.name}}
        </button>
        </div>
      </div>
    </div>

    <div class="input-group input-group-lg">
  <div class="input-group-prepend">
    <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
  </div>
  <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
</div>






    <br>
    <button type="button" id="addToCast" (click)='addToCast()' class="btn btn-outline-info btn-lg btn-block">Add to Cast</button>
    <div *ngIf="wasAdded">
      <button type="button" id="searchSongToCast" (click)='searchSongToCast(search)'>Search Songs</button>
      <input type="text" [(ngModel)]="search" id="input-field" placeholder="Name your soundcast." />
      <div *ngIf="songSelected === false">
        <button *ngFor="let result of searchResults" [attr.id]="result.id" (click)='songSelect($event)' type="button" class="btn btn-outline-secondary btn-lg btn-block">
          {{result.name}}
        </button>
      </div>
    </div>

    <div>
      <button class="btn btn-outline-info btn-lg btn-block" (click)='showSoundboard()'>
        <h3>SoundBoard</h3>
      </button>
      <ul class="list-group" *ngIf="viewedBoard">
        <li class="list-group-item justify-content-between align-items-center">
          <!-- <button type="button" class="btn btn-outline-warning btn-block">Warning</button> -->
          <button *ngFor="let sound of sounds" (click)='soundClick($event)' type="button" [attr.id]="sound.mediaLink" class="btn btn-outline-secondary btn-lg btn-block">
            {{sound.name}}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
