<!-- <div id="container_image" class="profile-block">
  <img alt="user-profile-image" class="image-landing blur-me" height="350" id="main_image" src="https://pbs.twimg.com/profile_images/986327929453006848/c5ShdmQS_400x400.jpg" />

  <button type="button" class="btn btn-default back-button" aria-label="Left Align" routerLink="comment">
    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
  </button>

  <h3 class="user-location">New Orleans</h3>
  <h1 class="station-name">Yeezy2k18</h1>

  <img alt="user-profile-image" class="image-landing" id="overlay_image" height="150" src="https://pbs.twimg.com/profile_images/986327929453006848/c5ShdmQS_400x400.jpg" />
  <div id="overlay_image_list">
    <br>
    <br>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Bio</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Likes</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Followers</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Rating</a>
        </li>
      </ol>
    </nav>
  </div>
</div> -->

<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div *ngIf="profile" class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading" *ngIf='profile'>
          <h3>{{this.profile[0].firstname}} {{this.profile[0].lastname}}</h3>
          <span class="subheading">{{profile.bio}}</span>
          <p>{{profile | json}}</p>
        </div>
      </div>
    </div>
  </div>
</header>
