<div >
  <div *ngIf="castedOff === false">
    <div >
      <button type="button" style="background-color:#f8f9fa!important; height: 48px" class="btn std-btn btn-sm btn-common" value="startCast" (click)="castOff()" (click)="startCast()" >
        <i class="material-icons">
          play_circle_filled
        </i>
      </button>
    </div>
  </div>
  <div *ngIf="castedOff">
    <button type="button" style="background-color:#f8f9fa!important; height: 48px" class="btn std-btn btn-sm btn-common" value="pauseCast" (click)="pauseCast()">
        <i *ngIf="pauseButton" class="material-icons">
          play_circle_filled
        </i>
        <i *ngIf="!pauseButton" class="material-icons">
          pause_circle_filled
        </i>
      </button> 
  </div> 
  <div id="player" style="display:none;"></div>
</div>
