<div >
  <div *ngIf="castedOff === false">
    <div >
      <div value="startCast" (click)="castOff()" (click)="startCast()" >
        <i class="material-icons">
          play_circle_filled
        </i>
      </div>
    </div>
  </div>
  <div *ngIf="castedOff">
    <div *ngIf="pauseButton">
      <button type="button" class="btn std-btn btn-sm btn-common" value="pauseCast" (click)="pauseCast()">
        <i class="material-icons">
          play_circle_filled
        </i>
      </button> <!-- End of playButton -->
    </div> <!-- End of pause div -->
    <div *ngIf="pauseButton === false">
      <button type="button" class="btn std-btn btn-sm btn-common" value="pauseCast" (click)="pauseCast()">
        <i class="material-icons">
          pause_circle_filled
        </i>
      </button>
    </div> <!-- End of pauseButton -->
  </div> <!-- End of castedOff -->
  <div id="player" style="display:none;"></div>
</div>
