<!-- <div>
  <img src="https://images-na.ssl-images-amazon.com/images/I/51ik%2BwjSdwL._SS500.jpg" class="image-landing">
  <div>
    <a>
      <i class="material-icons">
        favorite_border
      </i>
    </a>
    <a>
      <i class="material-icons">
        chat_bubble_outline
      </i>
    </a>

    <p>#inMyFeelings</p>
  </div>

</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" align="center">
          <img src="https://images-na.ssl-images-amazon.com/images/I/51ik%2BwjSdwL._SS500.jpg" class="image-landing"
            height="350">
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>