<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" align="center">
          <h3>
            Sound Mob
          </h3><img alt="Bootstrap Image Preview" src="https://operationspark.org/assets/images/Robot-Mascot.png"
            height="350" />
          <br>
          <br>
          <button type="button" class="btn btn-success" routerLink="/posts" routerLinkActive="active">
            Button
          </button>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>