<router-outlet></router-outlet>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <img alt="Bootstrap Image Preview" src="https://operationspark.org/assets/images/Robot-Mascot.png" class=expand />
          <br>
          <button type="button" class="button">
            You gonna sign in with google or nah
          </button>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>