#landing {
  padding: 70px;
}

.login-icon {
  text-align: center;
  vertical-align: bottom;
}

.center {
  text-align: center;
  height: 50%;
}

.login-button {
  border-radius: 2px;
}

.fa-google-plus-g {
  color: white;
}

.btn-google {
    color: #fff;
    background-color: #5B5B59;
    border-color: rgba(0, 0, 0, 0.2);
}

body {
  background-image: url(//d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BuKKyFq/videoblocks-music-notes-fire-style-background-looped-animation_sae9zw4kb_thumbnail-full01.png);
  background-size: cover;
  background-repeat: no-repeat;
}
/* Scale up the box */
.box:hover {
  transform: scale(1.2, 1.2);
}

/* Fade in the pseudo-element with the bigger shadow */
.box:hover::after {
  opacity: 1;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 5px 15px rgba(1, 1, 1, 4);
}

a {
  text-decoration: none;
}