<router-outlet></router-outlet>
<body>
<div class="row">
  <div class="mx-auto" id="landing">
    <!-- <img alt="Bootstrap Image Preview" src="//operationspark.org/assets/images/Robot-Mascot.png" height="350" /> -->
<img alt="Welcome to the Mob" class="btn box make-it-slow" src="//files.slack.com/files-pri/T02P3HQD6-FDF5YR8AX/screen_shot_2018-10-16_at_8.39.46_am.png"
  height="215" />
    <br>
    <br>
    <br>
    <a class="btn btn-block btn-social btn-google btn-large rounded box make-it-slow" style="height: 30px, color: #f8f8ff" href="/auth">
      <div class="align-items-center">
        <i class="fab fa-google-plus-g fa-fw center"></i>
        Sign in via Google
      </div>
    </a>
  </div>
</div>
<!-- Footer -->
<footer class="page-footer font-small special-color-light pt-4" style="background-color: #f8f8ff">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item box">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook"> </i>
        </a>
      </li>
      <li class="list-inline-item box">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item box">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus"> </i>
        </a>
      </li>
      <li class="list-inline-item box">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin"> </i>
        </a>
      </li>
      <li class="list-inline-item box">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item box">
          <a href="" style="text-decoration: none">
          Meet the Developers
          </a>
        </li>
      </ul>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <div  class="box">
      <a href="//soundmob.net" style="text-decoration: none"> Soundmob.net</a>
    </div>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>