<!-- <router-outlet></router-outlet>
<app-profile></app-profile>
<app-soundplayer></app-soundplayer>
<div>
  <button routerLink="comment">add-comment</button>
</div>
<app-comments></app-comments> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" align="center">
          <app-profile></app-profile>
          <br>
          <app-soundplayer></app-soundplayer>
          <br>
          <button routerLink="comment">Comment</button>
          <app-comments></app-comments>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>
</div>