<router-outlet></router-outlet>
<div class="row">
  <app-navbar></app-navbar>
</div>
<audio autoplay [src]="sound | youtube"></audio>
<div class="container">
  <div class="row" style="background-color:#292b2c;border-radius: 15px;">
    <div class="col-sm-8" id="img-chat-container">
      <br>
      <app-soundplayer></app-soundplayer>
      <app-listener-track id="youTube"></app-listener-track>
      <app-listener-chat></app-listener-chat>
      <br>
      <app-tokbox id="listenertok"></app-tokbox>
    </div>
  </div>
</div>