<!-- <div>
  <ul id="messages">
  </ul>

 <form action="">
  <input id="m" autocomplete="off" /><button id="chat">Send</button>
</form> -->
<!-- 

  <form>
    <input (keyup=on)>
    <button (click)="sendChatMessage()">Send!</button>
  </form>
</div> --> 

<ul>
  <li *ngFor="let message of chatMessages">
    <b>{{message.userName}}:</b>
    <p>{{message.message}}</p>
  </li>
</ul>

<input  type="text" [(ngModel)]="messageToSend"> 
<button (click)="sendChatMessage()">Send!</button>
<button class="btun" (click)="getMessage()">get</button>


