.dj-name{
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img .profile {
  max-width: 100%;
  max-height: 100%;
}
.profile-format {
  height: 20 px;
}
	html,body{
      height: 100%;
      background-color: #f8f8ff;
		}
       .container{
       	height: 100%;
       	align-content: center;
       }

       .image_outer_container{
        /* background-color: #f8f8ff;
       	margin-top: auto;
       	margin-bottom: auto;
       	border-radius: .3em;
        position: relative;
        max-width: 100%;
        word-wrap: break-word; */
       }

       .image_inner_container{
        height: 77px;
       	width: 77px;
       	border-radius: .3em;
       	padding: 0 0 0 0;
        background: #E7450D;
        /* background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); */
        /* background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); */
       }
       .image_inner_container img{
       	height: 75px;
       	width: 75px;
       	border-radius: .3em;
       	border: 2px #f8f8ff;
       }

       .image_outer_container .green_icon{
         background-color: #4cd137;
         position: absolute;
         right: 0px;
         bottom: 10px;
         height: 20px;
         width: 20px;
         border:3px solid white;
         border-radius: 50%;
       }
/* Scale up the box */
.box:hover {
  transform: scale(1.2, 1.2);
}

/* Fade in the pseudo-element with the bigger shadow */
.box:hover::after {
  opacity: 1;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 5px 15px rgba(250, 157, 4, 4);
}

.profilebox {
  height: 100px !important;
  background-color: #f8f8ff;
  padding: 20px 50px 20px 50px;
  margin: 15px 100px 15px 100px;
  border-radius: .3em;
  /* zoom: 1;
	filter: alpha(opacity=90);
	opacity: 0.90; */
}

body {
  /* background-image: url(//d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BuKKyFq/videoblocks-music-notes-fire-style-background-looped-animation_sae9zw4kb_thumbnail-full01.png); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
}

.src-image {
  display: none;
}

.card {
  overflow: hidden;
  position: relative;
  border: 1px solid #CCC;
  margin-bottom: 50px;
  border-radius: 8px;
  text-align: center;
  padding: 0;
  background-color: #284c79;
  color: rgb(136, 172, 217);
}

.card .header-bg {
  /* This stretches the canvas across the entire hero unit */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 1px #FFF solid;
  /* This positions the canvas under the text */
  z-index: 1;
}

.card .avatar {
  position: relative;
  margin-top: 15px;
  z-index: 100;
}

.card .avatar img {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 30, 0.8);
}


body {
  /* background-image: url(//d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/BuKKyFq/videoblocks-music-notes-fire-style-background-looped-animation_sae9zw4kb_thumbnail-full01.png); */
  background-color: #292b2c;
  background-size: cover;
  background-repeat: no-repeat;
}
/* Scale up the box */
.box:hover {
  transform: scale(1.2, 1.2);
  /* background-color: #e98300; */
}

/* Fade in the pseudo-element with the bigger shadow */
.box:hover::after {
  opacity: 1;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 5px 15px rgba(1, 1, 1, 4);
}

a {
  text-decoration: none;
}

.round {
  border-radius: 10px;
}

.noborder {
  border: 0px;
}
