/* body #landing{
  background: url(//d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EQMOWcXPx/rotating-pastel-colors-background-with-white-circular-hole-in-the-middle_h2gq5tpo__F0000.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
/*
body {
  background: url(//d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/EQMOWcXPx/rotating-pastel-colors-background-with-white-circular-hole-in-the-middle_h2gq5tpo__F0000.png) no-repeat !important;
  padding-top: 100px;
  background-size: 100% auto;
} */